/* Estilização geral */
.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  background-color: #000;
  color: white;
  min-height: 100vh;
}

/* Título */
.page-header h1 {
  font-size: 24px;
  text-align: center;
  color: #ff4757;
  margin-bottom: 10px;
}

/* Seletor de câmera */
.controls-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.device-selector {
  width: 250px;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  color: black;
  background-color: white;
  border: none;
  text-align: center;
}

/* Área da câmera com proporção 16:9 */
.camera-container {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 450px; /* Máximo de largura */
  height: 900px; /* Máximo de largura */
  aspect-ratio: 16 / 9; /* Mantém a proporção correta */
  border: 2px solid white;
  border-radius: 10px;
  overflow: hidden;
  background-color: black;
  position: relative;
 
  
}

/* Ajusta o vídeo para preencher a área sem cortes */
.camera-video {
  width: 100%;
  height: 100%;
  object-fit: contain; /* Mostra tudo sem cortar nada */
}

/* Botão de captura */
.capture-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.capture-button {
  background: url('/img/camera/button.png') no-repeat center center;
  background-size: contain; /* Garante que a imagem preencha o botão sem distorcer */
  border: none;
  border-radius: 50%; /* Ajusta para bordas arredondadas */
  width: 100px; /* Mantenha a proporção de acordo com a sua necessidade */
  height: 100px;
  cursor: pointer;
  outline: none; /* Remove a borda de foco que alguns navegadores adicionam */
  margin-top: 50px;
}


.capture-button:hover {
  background: linear-gradient(90deg, #0056b3, #0096c7);
}

/* Foto capturada */
.photo-container {
  text-align: center;
  margin-top: 20px;
}

.captured-photo {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-top: 10px;
}
