/* Estilização geral */
.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  background-color: #000;
  color: white;
  min-height: 100vh;
  
}

.page-header h1 {
  color: white;
  font-family: "BradescoSans";
  
  text-align: center;
}


/* Seletor de câmera */
.controls-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.device-selector {
  width: 250px;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  color: black;
  background-color: white;
  border: none;
  text-align: center;
 
}

.camera-container {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width:29vh; /* Máximo de largura */
  height: 45vh; /* Aumenta a altura para um formato de retrato */
  background-color: transparent;
  position: relative;
  border-radius: 10px;
}

.camera-container::before,
.camera-container::after {
  content: "";
  position: absolute;
  border-style: solid;
  border-color: red;
  border-width: 5px;
}

.camera-container::before {
  top: -15px;
  left: -15px;
  width: 180px; /* Controle a largura das bordas dos cantos aqui */
  height: 180px;
  border-right-color: transparent; /* Torna a borda direita transparente */
  border-bottom-color: transparent; /* Torna a borda inferior transparente */
  border-radius: 10px 0 0 0; /* Arredondamento apenas no canto necessário */
}

.camera-container::after {
  bottom: -1vh;
  right: -1vh;
  width: 180px; /* Controle a largura das bordas dos cantos aqui */
  height: 180px;
  border-left-color: transparent; /* Torna a borda esquerda transparente */
  border-top-color: transparent; /* Torna a borda superior transparente */
  border-radius: 0 0 10px 0; /* Arredondamento apenas no canto necessário */
}


.camera-video {
  width: 100%;
  height: 100%; /* Garante que o vídeo cubra todo o contêiner */
  object-fit: cover; /* Preenche todo o espaço, permitindo distorção */
}

/* Botão de captura */
.capture-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.capture-button {
  background: url("/img/camera/button.png") no-repeat center center;
  background-size: contain; /* Garante que a imagem preencha o botão sem distorcer */
  border: none;
  border-radius: 50%; /* Ajusta para bordas arredondadas */
  width: 100px; /* Mantenha a proporção de acordo com a sua necessidade */
  height: 5vh;
  cursor: pointer;
  outline: none; /* Remove a borda de foco que alguns navegadores adicionam */
  margin-top: 50px;
}

.capture-button:hover {
  background: linear-gradient(90deg, #0056b3, #0096c7);
}

/* Foto capturada */
.photo-container {
  text-align: center;
  margin-top: 20px;
}

.captured-photo {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-top: 10px;
}

