.final-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
 
  height: 100vh;
  background-color: #111;
  color: white;
  text-align: center;
}

.final-image {
  max-width: 25vw; /* 25% da largura da tela */
  max-height: 25vh; /* 25% da altura da tela */
  width: auto;
  height: auto;
  border: 5px solid white;
  border-radius: 15px;
  box-shadow: 0px 0px 15px white;
  margin-bottom: 20px; /* Espaço entre imagem e QRCode */
}

.qr-code {
  width: 25vw; /* Mesmo tamanho da imagem */
  height: auto; /* Mantém a proporção */
  margin-bottom: 20px; /* Espaço entre imagem e QRCode */
  background-color: transparent;
  color:white


}

button {
  margin-top: 400px;
  padding: 10px 20px;
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  transition: background 0.3s;
}

button:hover {
  background-color: #0056b3;
}
.qr-code-container{
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: transparent;
  position: relative;
  border-radius: 10px;
}
.qr-code-container::before,
.qr-code-container::after {
  content: "";
  position: absolute;
  border-style: solid;
  border-color: red;
  border-width: 5px;
}

.qr-code-container::before {
  top: 20px;
  left: 10px;
  width: 50px; /* Controle a largura das bordas dos cantos aqui */
  height: 50px;
  border-right-color: transparent; /* Torna a borda direita transparente */
  border-bottom-color: transparent; /* Torna a borda inferior transparente */
  border-radius: 10px 0 0 0; /* Arredondamento apenas no canto necessário */
}

.qr-code-container::after {
  bottom: 2vh;
  right: 1vh;
  width: 50px; /* Controle a largura das bordas dos cantos aqui */
  height: 50px;
  border-left-color: transparent; /* Torna a borda esquerda transparente */
  border-top-color: transparent; /* Torna a borda superior transparente */
  border-radius: 0 0 10px 0; /* Arredondamento apenas no canto necessário */
}