/* Container principal */
.cadastro-nfc-container {
  position: relative; /* Importante para que os filhos absolutos funcionem */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background: url("../assets/Telas/TELA_NFC.png") no-repeat center center;
  background-size: cover;
  background-color: #F4B3DD;
  text-align: center;
}

/* Título principal */
.cadastro-nfc-title {
  position: absolute;
  top: 23vh;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2.5vh;
  font-weight: bold;
  color: #CD082F;
  font-family: 'BradescoSansBold', sans-serif;
}

/* Subtítulo */
.cadastro-nfc-subtitle {
  position: absolute;
  top: 42vh;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2.2vh;
  font-weight: bold;
  color: #CD082F;
  font-family: 'BradescoSansBold', sans-serif;
  text-align: center;
}

/* Campo de entrada do CPF */
.cadastro-nfc-input {
  position: absolute;
  top: 51vh; /* Posição ajustável do input */
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  padding: 10px;
  font-size: 2vh;
  border: 1px solid rgb(212, 199, 199);
  border-radius: 50px;
  font-family: 'BradescoSans', sans-serif;
  background-color: #CD082F;
  color: white;
}

/* Teclado virtual */
/* Força o estilo no teclado real */
.cadastro-nfc-keyboard.simple-keyboard {
  position: absolute !important;
  top: 63vh !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
  width: 60% !important;
  max-width: 320px !important;
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
}


